@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Team Brute Force</h1>

Cortez Juárez, Génesis Dayana 1059618 <br>
Dávila González, Allan Eduardo 1160118 <br>
Girón Márquez, José Carlos 1064718 <br>
Paiz González, Karen Izabel 1215718 <br>
Solano Bonilla, Daniela Rocio 1094818 <br>
